@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

html {
  font-size: 10px;
  overflow-x: hidden !important;
}

:root {
  /* Colors */
  --textLightColor: #cac8c8;
  --mainColor: #00BFA6;

  /* Colors Hover */
  --mainHover: linear-gradient(269deg, rgba(0, 191, 166, 1) 29%, rgba(7, 113, 99, 1));
  
  /* Box shadow style */
  --shadowNav: rgb(0 0 0 / 8%) 0px 2px 4px 0px,
                 rgb(0 0 0 / 8%) 0px 0px 2px 1px;
  --shadowSearchInputHover: rgb(0 0 0 / 16%) 0px 4px 8px 0px, 
                            rgb(0 0 0 / 8%) 0px 0px 2px 1px;
}



